
.admin ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: none;
text-align: center;
   }

.admin li {
  float: left;
}

.admin li a, .dropbtn {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.admin li a:hover, .dropdown:hover .dropbtn {
  background-color: grey;
  color:white;
}

.admin li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
    background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: white;
color:black;}

.dropdown:hover .dropdown-content {
  display: block;
}
