


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*** ORDER ***/

#link-basket{
    color:black;
}

#link-basket:hover{
    transition:1.5s;
    color: #00FF00;
}

#container-order{
    display:flex;
    flex-direction:column;
    align-items: center;
    background-color:#eee;
    min-height: 60vh;
    padding-bottom:5%;
}

#container-order nav{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color:white;
    border-top: 0.3px solid gainsboro;
    border-bottom: 0.3px solid gainsboro;
}

#container-order nav ul{
    display: flex;
    font-size:12px;
}

#container-order nav ul li{
    padding : 20px;
}

#connect-order{
    display : flex;
    justify-content:center;
    align-items:center;
    margin-top:10%;
    width: 50%;
}

#white-box{
    display : flex;
    justify-content:center;
    border:1px solid black;
    align-items:center;
    text-transform: uppercase;
    font-size : 12px;
    color:black;
    padding:1.5%;
    height: 25vh;
    width : 100%
}

#black-box{
    display : flex;
    justify-content:center;
    align-items:center;
    text-transform: uppercase;
    font-size : 12px;
    color:white;
    background-color:black;
    border:1px solid black;
    padding:1.5%;
    height: 25vh;
    width : 100%;
}

#white-box:hover{
    color:black;
    background-color:white;
    height: 25vh;
    width : 100%;
    transform : scale(1.1);
    transition : .5s;
}

#black-box:hover{
    color:white;
    background-color:black;
    border:1px solid black;
    height: 25vh;
    width : 100%;
    transform : scale(1.1);
    transition : .5s;
}

#sub-order{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

#container-form-order{
    display: flex;
    flex-direction: column;
    width: 65%;
}

#container-delivery{
    display:flex;
    justify-content: space-between;
    background-color:white;
    margin-top:5%;
    margin-bottom:5%;
    width: 100%;
    box-shadow:0 10px 40px rgba(0,0,0,0.08);
}

#container-delivery form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:100%;
}

#radio-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#container-delivery form input[type=radio]{
    width : 50px;
    height: 50px;
}

#container-delivery form label{
    margin-left:-10.5%;
    font-size : 12px;
    text-transform: uppercase;
}


#container-delivery button{
    display: flex;
    padding-top:10px;
    padding-bottom:10px;
    font-size:13px;
    font-family: 'Exo', sans-serif;
    letter-spacing:2px;
    width: 100%;
    justify-content: center;
    background-color:white;
    border : 1px solid black;
}

#container-delivery button:hover{
    background-color: #00FF00;
    transition : 1s;
}

#container-infos-order{
    display: flex;
    flex-direction: column;
}

#delivery-infos{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow:0 10px 40px rgba(0,0,0,0.08);
    background-color:white;
    font-family: 'Exo', sans-serif;
    font-size: 14px;
    margin-bottom:2.5%;
    padding-bottom:5%;
}

#delivery-infos legend{
    display: flex;
    justify-content: center;
    padding-top:10px;
    padding-bottom:10px;
    margin-top:10px;
    margin-bottom:2.5%;
    border-bottom:0.5px solid gray;
    font-family: 'Exo', sans-serif;
    font-size: 12px;
    text-transform:uppercase;
    letter-spacing: 1.2px;
}
#delivery-infos input[type=text]{
    border-radius: 4px;
    padding: 12px;
    border: 1px solid rgba(50, 50, 93, 0.1);
    font-size: 16px;
    background: white;
    margin-left:2.5%;
    margin-top: 2.5%;
}

#delivery-infos #address{
    padding-bottom : 50px;
}

#module-paiement{
    display: flex;
    flex-direction:column;
    align-items: center;
    background-color:white;
    padding-top:5%;
    padding-bottom:5%;
    margin-bottom:2.5%;
    border:none;
    box-shadow:0 10px 40px rgba(0,0,0,0.08);
}


#title-cb{
    display:flex;
    background-color:white;
    align-items:center;
    font-family: 'Exo', sans-serif;
    font-size: 14px;
    margin-bottom:2.5%;
    text-transform:uppercase;
    letter-spacing: 1.2px;
    padding-bottom:10px;
    border-bottom:0.5px solid gray;
}

#section-cb{
    display: flex;
    flex-direction: column;
    width: 80%;
}

#section-cb label{
    font-family: 'Exo', sans-serif;
    font-size: 12px;
}


#section-cb input[type=text],#section-cb input[type=password]{
    border-radius: 6px;
    margin-bottom: 2.5%;
    margin-left: 1.5%;
    padding: 12px;
    border: 1px solid rgba(50, 50, 93, 0.1);
    font-size: 16px;
    background: white;
}

#cb-infos{
    display:flex;
    align-items: center;
}

#cb-infos input{
    margin-right:20px;
}

#container-infos-order form button{
    display: flex;
    padding-top:3.5%;
    padding-bottom:3.5%;
    width: 100%;
    justify-content: center;
    background-color:#00FF00;
    transition: all 0.2s ease;
    font-family: 'Exo', sans-serif;
    font-size: 14px;
    border-radius:10px;
    letter-spacing: 2px;
    border:none;
}

#container-infos-order form button:hover{
    background-color:black;
    color:white;
    transition : 1s;
}

#recap-order{
    display: flex;
    margin-top:2.5%;
    flex-direction:column;
    background-color : white;
    box-shadow:0 10px 40px rgba(0,0,0,0.08);
    width : 30%;
}

#recap-order article span{
    display: flex;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 0.5px solid gainsboro;
    font-weight:200;
    font-size:13px;
}


/*** ORDER ***/


@media (max-width: 980px){


  
}

@media screen and (max-width:700px){
   
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */







