


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*** INDEX  ***/

#index-part2{
    display: flex;
    background-color: #F9FDF6;
    border: 0.5px solid black;
    width: 80%;
    margin-top: 2.5%;
    margin-left: 10%;
    align-items: center;
    justify-content: flex-end;
}

#index-part2 article{
    display: flex;
    background-color: black;
    color: #00FF00;
    width: 40%;
    height: 30vh;
    justify-content: center;
    align-items: center;
    left:20%;
    position: absolute;
    z-index: 1;
}

/***CONTENT***/
/*PART I*/

#superposition-title{
    display: flex;
    width: 100%;
    justify-content: center;
    position: absolute;
    z-index: 1;
    color: #EAFFC6;
    text-shadow: 0 0 15px black;
    font-size: 100px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: -5%;
}

#superposition-title:hover{
    color: #00FF00;
    transition: 1.5s;
    text-shadow: 0 0 15px black;
}

main{
  margin-top:5%;
}

.products{
    display: flex;
    margin-bottom: 15px;
    width: 100%;
    justify-content: center;
}
.selection{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content:space-between;
  }
  .card img{
    width: 275px;
    height: 310px;
  }
  .card{
    cursor: pointer;
    width: 275px;
    height: 310px;
    transform-style: preserve-3d;
  }
  
  .front, .back{
    width:100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
  }
  
  .front{
    transform: perspective(600px) rotateY(0deg);
  }
  
  .back{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #00FF00;
    width: 275px;
    height:310px;
    transform: perspective(600px) rotateY(180deg);
    z-index: 1;
  }
  
  .back-content{
    color: black;
    text-align: center;
    width: 100%;
  }

  .back-content img{
    width: 180px;
    height: 230px;
    box-shadow: 6px 6px 10px black;
  }

  .back-content h2{
    font-size:13px;
    font-weight: 200;
    display: flex;
    background-color:black;
    justify-content: center;
    color:white;
    margin-bottom: 20px;
    width: 50%;
  }

  .back-content span{
    font-size:11px;
  }
  
  
  .card:hover > .front{
    transform: perspective(600px) rotateY(-180deg);
  }
  .card:hover > .back{
    transform: perspective(600px) rotateY(0deg);
  }

  #link_news a{
    display: flex;
    justify-content: center;
    width: 15%;
    border: 0.5px solid black;
    color : black;
    font-size : 14px;
    font-weight:200;
    margin-left : 75%;
    }

  #link_news a:hover{
    border: 0.5px solid white;
    background-color:black;
    color:white;
    transition : 1.5s;
  }
  


/*** RESPONSIVE PROFIL ***/


@media (max-width: 980px){
  #container-new{
    margin-top:10%;
  }
  .products{
    margin-top:1.5%;
  }

  #superposition-title{
    display: none;
  }

  .selection{
    flex-direction: column;
  }

  .card img{
    width: 275px;
    height: 310px;
  }
  .card{
    width: 275px;
    height: 310px;
    margin-bottom: 3.5%;
  }

  .back{
    width: 275px;
    height:310px;
    transform: perspective(600px) rotateY(180deg);
  }
  .back-content img{
    width: 150px;
    height: 200px;
  }

  main{
    padding-top:
      2.5%;
    
  }

  #link_news a{ 
    width: 50%;
    margin-left : 25%;
  }
  

  #index-part2{
    width: 90%;
    margin-top: 5%;
    margin-left: 0;
    justify-content: center;
    height: 40vh;
    flex-direction: column;
    margin-bottom:5%;
   }   


  #index-part2 article{
    width: 80%;
    margin-right: 0;
  }

  #index-part2 img{
    width: 100%;
    height: 100%;
  }
  
}

@media screen and (max-width:700px){
   
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*** PANIER EN COURS ***/




/*** RESPONSIVE PANIER EN COURS ***/
@media (max-width: 980px){

}

@media screen and (max-width:500px){
 
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*** FACTURATION  ***/


/*** RESPONSIVE FACTURATION ***/
@media (max-width: 980px){
}

@media screen and (max-width:800px){
 
}
@media screen and (max-width:500px){
 
}








